PORT=5000
NODE_ENV=development

# Database URLs
DATABASE_URL="postgresql://username:password@host:port/database?pgbouncer=true"
DIRECT_URL="postgresql://username:password@host:port/database"

# Express Session Secret
SESS_SECRET="tulis_random_string_panjang_di_sini"

# CORS Origins
ALLOWED_ORIGINS="http://localhost:5173"

# Supabase Configurations
SUPABASE_URL="https://your_project_id.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="your_supabase_service_role_key"
